@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.empty-chat-holder {
  width: 100%;
  height: 250px;
  margin-top: 70px;
}

.empty-chat {
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.empty-chat h2 {
  color: #1546dc;
  font-family: 'Abril Fatface';
  padding: 0;
  font-size: 2rem;
  margin: 25px auto 15px;
}

.empty-chat-holder img {
  width: 100%;
  height: 100%;
}

.avatar {
  border-radius: 8px;
  width: 50px;
  height: 50px;
}

.chatSection {
  margin-top: 4px;
}

.header-icons {
  width: 120px;
  float: right;
  margin-right: 10px;
}

.header-icons span {
  line-height: 70px;
  cursor: pointer;
  font-size: 14px;
}

.header-icons .fa {
  cursor: pointer;
  margin: 10px;
}

.msg-page {
  display: flex;
  flex-direction: column;
  height: 584px;
  overflow-y: auto;
}

.input-group {
  display: flex;  /* 添加这行 */
  align-items: center;  /* 添加这行 */
  margin-right: 20px;
  border-top: 1px solid #fff;
  width: 100% !important;
  background-color: #e9d6d6;
  height: 110%;
  border-radius: 0 0 30px 30px;
}

.input-group input {
  flex-grow: 1;
  margin-top: 1rem;
  background: #e9d6d6;
}

.input-group ::placeholder {
  color: #7e79797a !important;
}

.form-control {
  border: none !important;
  border-radius: 20px !important;
}

.input-group-text {
  background: transparent !important;
  border: none !important;
}

.input-group .fa {
  color: #007bff;
  float: right;
}

.bottom-icons {
  float: left;
  margin-top: 17px;
  width: 30% !important;
  margin-left: 22px;
}

.bottom-icons .fa {
  color: #fff;
  padding: 5px;
}

.form-control:focus {
  border-color: none !important;
  box-shadow: none !important;
  background-color: #e9d6d6;
  border-radius: 20px;
}

.msg-footer {
  border-radius: 0px 0px 10px 10px;
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 60px;
}

#end-of-chat {
  padding-bottom: 50px;
  padding-top: 30px;
  padding-left: 20px;
}

.message-form {
  height: 100%;
}

.chat-box {
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;;
  position: relative;
  height: 600px;
  letter-spacing: 0.5px;
  background: #e9d6d6;
  padding: 0 !important;
  box-sizing: border-box;
  margin: 0rem 3rem 5rem 5rem;
  border-color: #828080;
  border-radius: 2rem;
}

@media (max-width: 60em) {
  .chat-box {
    margin: 0rem 1rem 5rem 1rem;
  }
}

.message-input {
  padding: 6px 20px;
}

.empty-chat-sub-title {
  text-align: center;
  color: #555;
  font-size: 18px;
}

.loading-messages-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
}

.loading-text {
  color: #0e0e0e;
  font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
  font-size: 25px;
  margin-top: 20px;
}

.chat-bubble-row {
  display: flex;
  padding: 15px 20px;
  align-items: center;
}

.sender-name {
  font-size: 14px;
  font-weight: bold;
  padding-right: 10px;
}

.chat-bubble {
  border-radius: 35px;
  font-size: 16px;
  padding: 15px;
  position: relative;
}

.is-user {
  background-color: #1546DC;
}

.is-other {
  background-color: #FFF;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1)
}

.chat-box-bottom {
  margin-top: auto;
}

.svg-icon {
  background-color: transparent;
}

.send-button {
  flex-shrink: 0;  /* 添加这行 */
  background-color: transparent; /* 使按钮背景透明 */
  border: none; /* 移除边框 */
  outline: none; /* 移除轮廓 */
  cursor: pointer; /* 将鼠标指针变为手指形状 */
  margin-right: 1rem;
}

.typing-indicator {
  display: flex;
  align-items: center;
}

.typing-indicator span {
  height: 5px;
  width: 5px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  margin-right: 2px;
  opacity: 0;
  animation: typing-indicator-animation 2.4s infinite;
}

.typing-indicator span:nth-child(2) {
  animation-delay: 0.3s;
}

.typing-indicator span:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes typing-indicator-animation {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

